@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&family=Plus+Jakarta+Sans:wght@500;700;800&display=swap');
$primaryFont: 'Plus Jakarta Sans', sans-serif;
$purple: hsl(234, 25%, 52%);
$dkPurple: hsl(233, 54%, 16%);
$dkGray: hsl(232, 10%, 56%);
$dkPink: hsl(341, 92%, 62%);
$lgtPink: hsl(341, 100%, 83%);
$White: hsl(0, 0%, 100%);
$lgtGray: #f2f2f2;
$lgPink: hsl(322, 87%, 55%);
$lgOrange: hsl(13, 100%, 64%);
$lgPurple: hsl(337, 100%, 64%);