@import "./variables";

* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to bottom, #ffffff, #f0f1ff);
  margin: 0;
  padding: 0;
}

.page-container {
  margin: 0;
  padding: 0;
  background: rgb(213, 245, 249);
}

.content-container {
  margin: 0 1em;
}

.hero-image-container {
  position: absolute;
  min-width: 100%;
}

#hero-image {
  width: 100%;
  position: relative;
  height: auto;
  content: url(/images/image-hero-mobile.webp);
}

.card-container {
  position: relative;
  min-width: 100%;
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
  height: auto;
  border: none;
}

.card-image {
  height: 56px;
  width: 56px;
  position: relative;
  top: -20px;
  left: 20px;
}

.footer-container {
  background: rgb(222, 222, 245);
}

/*  Defaults to Small devices (landscape phones, 767px and below) */

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
  .hero-image-container {
    position: absolute;
    min-width: 100%;
    overflow: hidden;
  }

  #hero-image {
    content: url(/images/image-hero-tablet.webp) !important;
    float: right;
    position: relative;

    margin-right: -350px;
    margin-top: -220px;
  }
  .page-container {
    background: rgb(249, 198, 221);
  }
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
  .hero-image-container {
    position: absolute;
    min-width: 100%;
    overflow: hidden;
  }
  #hero-image {
    content: url(/images/image-hero-desktop.webp) !important;
    float: right;
    position: relative;
    max-width: 991px;
    margin-right: -340px;
    margin-top: -290px;
  }
  .page-container {
    background: rgb(252, 218, 200);
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
  .hero-image-container {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    min-width: 100vw;
    overflow: hidden;
  }
  #hero-image {
    content: url(/images/image-hero-desktop.webp) !important;
    float: right;
    position: relative;
    max-width: 991px;
    margin-right: -340px;
    margin-top: -290px;
  }
  .page-container {
    background: rgb(213, 245, 249);
    max-width: 100%;
    position: absolute;
  }
}
