@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&family=Plus+Jakarta+Sans:wght@500;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to bottom, #ffffff, #f0f1ff);
  margin: 0;
  padding: 0;
}

.nav-container {
  height: 120px;
  align-items: center;
}

#nav-text {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 1.74rem;
}

#top-btn {
  background: hsl(234, 25%, 52%);
  border-radius: 1.75em;
  border: none;
  height: 56px;
  width: 167px;
  color: hsl(0, 0%, 100%);
}

.page-container {
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #ffffff, f0f1ff);
}

.content-container {
  margin: 0 1em;
}

.header-container {
  display: flex;
  flex-wrap: wrap;
}

.hero-image-container {
  position: absolute;
  min-width: 100%;
}

#hero-image {
  width: 20.44em;
  position: relative;
  height: auto;
  content: url(../images/image-hero-mobile.webp);
}

.card-container {
  position: relative;
  min-width: 100%;
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
  height: auto;
  border: none;
}

.card-image {
  height: 56px;
  width: 56px;
  position: relative;
  top: -20px;
  left: 20px;
}

.call-out {
  background: linear-gradient(to bottom, hsl(13, 100%, 64%), hsl(322, 87%, 55%));
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
  border-radius: 10px;
}

.footer-container {
  height: 120px;
  background: #13183f;
  color: hsl(0, 0%, 100%);
}

/*  Defaults to Small devices (landscape phones, 767px and below) */
/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
  .content-container {
    margin: 0 6em;
  }
  #top-btn {
    height: 3em;
    width: 8.75em;
  }
  .hero-image-container {
    position: absolute;
    min-width: 100%;
    overflow: hidden;
  }
  #hero-image {
    position: relative;
    height: auto;
    width: 40em;
    content: url(../images/image-hero-tablet.webp);
    top: -14.76em;
    right: -1.39em;
  }
}
/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
  .content-container {
    margin: 0 6em;
  }
  .hero-image-container {
    position: absolute;
    min-width: 100%;
    overflow: hidden;
  }
  #hero-image {
    position: relative;
    height: auto;
    width: 61.97rem;
    content: url(../images/image-hero-desktop.webp);
    top: -9.133em;
    right: -20.98em;
  }
  .page-container {
    background: rgb(176, 216, 176);
  }
}
/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
  .content-container {
    margin: 0 6em;
  }
  .hero-image-container {
    position: absolute;
    max-width: 100%;
    overflow: hidden;
  }
  #hero-image {
    width: 61.97em;
    position: relative;
    height: auto;
    content: url(../images/image-hero-desktop.webp);
    top: -9.133em;
    right: -20.98em;
  }
  .page-container {
    max-width: 100%;
    overflow: hidden;
  }
}

/*# sourceMappingURL=style.css.map */
