@import "./variables";

// comment
* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to bottom, #ffffff, #f0f1ff);
  margin: 0;
  padding: 0;
}

.nav-container {
  height: 120px;

  align-items: center;
}

#nav-text {
  font-family: $primaryFont;
  font-size: 28px;
}

#top-btn {
  background: $purple;
  border-radius: 25px;
  border: none;
  height: 56px;
  width: 167px;
  color: $White;
}

.page-container {
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #ffffff, f0f1ff);
}

.content-container {
  margin: 0 1em;
}

.header-container {
  display: flex;
  flex-wrap: wrap;
}

.hero-image-container {
  position: absolute;
  min-width: 100%;
  border: 2px solid red;
}

#hero-image {
  width: 100%;
  position: relative;
  height: auto;
  content: url(../images/image-hero-mobile.webp);
}

.card-container {
  position: relative;
  min-width: 100%;
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
  height: auto;
  border: none;
}

.card-image {
  height: 56px;
  width: 56px;
  position: relative;
  top: -20px;
  left: 20px;
}

.call-out {
  background: linear-gradient(to bottom, $lgradOrange, $lgradPink);
  font-family: $primaryFont;
  font-size: 24px;
  font-weight: 700;
  color: $White;
  border-radius: 10px;
}

.footer-container {
  height: 120px;
  background: $dkBlue;
  color: $White;
}

/*  Defaults to Small devices (landscape phones, 767px and below) */

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
  .content-container {
    margin: 0 6em;
  }

  .hero-image-container {
    position: absolute;
    min-width: 100%;
    overflow: hidden;
  }

  #hero-image {
    width: 100%;
    position: relative;
    height: auto;
    content: url(../images/image-hero-tablet.webp);
    top: -76px;
    right: -135px;
  }

  .page-container {
    background: rgb(249, 198, 221);
  }
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
  .content-container {
    margin: 0 6em;
  }

  .hero-image-container {
    position: absolute;
    min-width: 100%;
    overflow: hidden;
  }

  #hero-image {
    width: 100%;
    position: relative;
    height: auto;
    content: url(../images/image-hero-desktop.webp);
    top: -76px;
    right: -135px;
  }

  .page-container {
    background: rgb(176, 216, 176);
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
  .content-container {
    margin: 0 6em;
  }

  .hero-image-container {
    position: absolute;
    max-width: 100%;
    overflow: hidden;
  }

  #hero-image {
    width: 100%;
    position: relative;
    height: auto;
    content: url(../images/image-hero-desktop.webp);
    top: -115px;
    right: -385px;
  }

  .page-container {
    background: rgb(167, 207, 219);
    max-width: 100%;
    overflow: hidden;
  }
}